body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}

main {

}
header{
    padding: 2.0em;
    
    a {
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 1.0em;
        padding-right: 1.0em;
        color: black;
    }

    a:hover{
        color:darkgoldenrod;
    }
}

footer{
    background-color: black;
    color: white;
    padding: 1.0em;
    
    a {
        text-decoration: none;
        color: white;
    }
    
    a:hover{
        color:darkgoldenrod;
    }

    nav{
        display: flex;
        flex-direction: column;
    }
}

h1{
    text-align: right;
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 0.5em;
}

.page-divider{
    width: 95%;
    border: 0.03em solid lightgray;
    margin-top:3.0em;
    margin-bottom: 3.0em;
}